<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>VDSM Fake Web Application</display-name>

	<context-param>
		<param-name>networkBridgeName</param-name>
		<param-value>ovirtmgmt</param-value> <!-- ovirtmgmt vs. rhevm -->
	</context-param>

    <!-- constant delay in ms -->
	<context-param>
		<param-name>constantDelay</param-name>
		<param-value>0</param-value>
	</context-param>

	<!-- random delay in ms -->
	<context-param>
		<param-name>randomDelay</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<!-- store/load object to/from this directory -->
	<context-param>
		<param-name>cacheDir</param-name>
		<param-value>/var/log/vdsmfake/cache</param-value>
	</context-param>

    <!-- number of seconds to pass before the value should be updated -->
    <context-param>
        <param-name>vmConfAndStatsUpdateIntervals</param-name>
        <param-value><![CDATA[
cpuSys:     10
cpuUser:    10
hash:       300
]]></param-value>
    </context-param>

    <context-param>
        <param-name>vmConfAndStatsConstants</param-name>
        <param-value><![CDATA[
acpiEnable:             true
clientIp:
displayIp:              0
displayPort:            5902
displaySecurePort:      -1
displayType:            qxl
emulatedMachine:        pc-0.14
guestIPs:
username:
fqdn:
keyboardLayout:         en-us
kvmEnable:              true
memUsage:               0
monitorResponse:        0
nicModel:               rtl8139,pv
nice:                   0
pauseCode:              NOERR
pid:                    10294
pitReinjection:         false
session:                Unknown
smartcardEnable:        false
smp:                    1
smpCoresPerSocket:      1
statsAge:               0.15
timeOffset:             0
transparentHugePages:   true
username:               Unknown
vmType:                 kvm
balloonInfo:
    balloon_max:    524288
    balloon_cur:    524288
]]></param-value>
    </context-param>

    <!-- log request/responses dir -->
	<context-param>
		<param-name>logDir</param-name>
		<param-value>/var/log/vdsmfake/xml</param-value>
	</context-param>
	
    <!-- target server for forwarded requests to VDSM can be overriden here:
           the proxy is activated if this address is set only     
    -->
    <!--
        <context-param>
            <param-name>forwardVdsmServer</param-name>
            <param-value>http://server.example.com</param-value>
        </context-param>
    -->

	<!-- comma-separated list of not logged methods to VDSM, e.g. getVdsCapabilities,
	    *..ignore all  
	-->
	<context-param>
		<param-name>notLoggedMethods</param-name>
		<param-value>getVdsHardwareInfo,getVdsCapabilities</param-value> <!-- getVdsCapabilities,list,getVdsStats,getAllVmStats,getVmStats -->
	</context-param>

	<context-param>
		<param-name>vdsmPort</param-name>
		<param-value>54321</param-value>
	</context-param>

	<filter>
		<filter-name>XmlRpcFilter</filter-name>
		<filter-class>org.ovirt.vdsmfake.servlet.XmlRpcFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>XmlRpcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.ovirt.vdsmfake.AppLifecycleListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>XmlRpcServlet</servlet-name>
		<servlet-class>org.ovirt.vdsmfake.servlet.XmlRpcServlet</servlet-class>
		<init-param>
			<param-name>enabledForExtensions</param-name>
			<param-value>false</param-value>
			<description>
				Sets, whether the servlet supports vendor extensions for XML-RPC.
			</description>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>XmlRpcServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>2</session-timeout>
	</session-config>

</web-app>
